<head>

</head>

<h1>RARE PUPPERS</h1>
<% count = 0 %>
<% @dogs.each do |dog| %>
<img src=<%=dog%> />
  <% if count > 3 %>
    <form action="/dogs" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="hidden" name="dog[url]" value=<%= dog %> />
      <input type="submit" value="Delete Pupper :/" />
    </form>
  <% end %>
  <% count += 1 %>
<% end %>
<a href="/dogs/new">New Pupper!</a>
